.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 20px;
    margin-bottom: 30px;
  }
  
  
  .hero {
    position: relative;
    text-align: center;
    width: 100%; 
  }
/* 
  .card{
    border-radius: 0;
    border: 0;
    top: -22px;
  }
   */
  .card-img {
    width: 100%;
    height: 800px;
    object-fit: cover;
    object-position: center;
    filter: blur(6px);
    -webkit-filter: blur(6px);
  }
  
  .card-img-overlay {
    position: absolute;
    top: 1;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    
  }
  
  
  .card-title, .card-text {
    color:#3f5941;
    text-shadow: 0 0 3px #fbf7f7;
    font-weight: bold;
  }
  